/* header for this page??  */

/* hook */
.hook_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 100px 0px 0px 0px;
}

/* squares */

.typesOfSamurai_wrapper {
  display: flex;
  justify-content: space-around;
  margin: 50px 0px;
}

.typesOfSamurai_wrapper > .samuraiTypeRight {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
