.about_wrapper {
  display: grid;
  justify-items: center;
  grid-template-rows: 100px 100px 100px;
  padding: 100px 0px 150px 0px;
}

.about_wrapper > .about_story {
  display: grid;
  justify-items: center;
  padding: 0px 100px 0px 100px;
}

.about_wrapper > .whoWeAre h1 {
  font-size: 3.5em;
  font-weight: 900;
  height: 50px;
}

.about_wrapper > .group_image {
  padding-top: 50px;
}
