.admin_wrapper {
  background: #fff;
  margin: 7%;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.4);
  padding: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
}

.admin_wrapper h4 {
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.admin_wrapper button {
  background-color: #bebebf;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  height: 40px;
  transition: 0.4s;
  margin-top: 20px;
  border: none;
}

.admin_wrapper button:hover {
  box-shadow: inset -2px -2px 5px rgba(0, 0, 0, 0.1);
}

/* table */
.all_samurai_admin {
  margin: 7%;
  background-color: #fff;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.4);
  padding: 50px;
}

.header {
  font-family: "Passion One", cursive;
  font-size: 25px;
}
.samurai_admin_grid {
  display: grid;
  grid-template-columns: 1fr repeat(5, 2fr);
  margin: 7%;
  background-color: #fff;
}
.samurai_admin_grid > span,
.samurai_admin_grid > span > input {
  padding: 8px 4px;
  max-width: 30ch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: grid;
  row-gap: 5px;
}

.samurai_admin_grid > span > input {
  border-top: none;
  border-right: none;
  border-left: none;
  outline: none;
  border-bottom-color: #bfb431;
}

.samurai_admin_grid > span > button {
  border: none;
  font-family: "Lato", sans-serif;
  background-color: #f2e106;
  padding: 3px 10px;
  transition: 0.4s;
}

.samurai_admin_grid > span > button:hover {
  box-shadow: inset -2px -2px 5px rgba(0, 0, 0, 0.1);
}

.section_header {
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  align-items: center;
}

.section_header svg {
  justify-self: end;
  margin-right: 7%;
  padding-right: 50px;
  transition: 0.2s;
}

.section_header svg:hover {
  color: #f2e106;
}

select {
  border: none;
  border-bottom: #bfb431 2px solid;
}

.id_number {
  margin: auto 0;
}

.modal-body input {
  border: none;
  border-bottom: #bfb431 2px solid;
  transition: 0.2s;
}

.modal-body input:hover {
  box-shadow: inset -2px -2px 5px rgba(0, 0, 0, 0.1);
}

.samurai_admin_grid > span.mobile_header {
  display: none;
}
@media screen and (max-width: 600px) {
  .admin_wrapper {
    grid-template-columns: 1fr;
  }

  .section_header {
    grid-template-rows: 1fr 0.5fr;
    grid-template-columns: none;
  }

  .section_header h1 {
    font-size: 2.5rem;
  }

  .section_header svg {
    justify-self: end;
    margin-right: 0;
    padding-right: 0;
  }

  .samurai_admin_grid {
    grid-template-columns: none;
  }
  .samurai_admin_grid > .header {
    display: none;
  }
  .mobile_header {
    display: grid;
    font-family: "Passion One", cursive;
    font-size: 25px;
  }
}
