.email_wrapper {
  width: 500px;
  background: #fff;
  overflow: hidden;
  padding: 50px 50px 90px 50px;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.4);
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.Contact_Header {
  padding-bottom: 20px;
}

/* .email_form {
  width: 100%;
} */
/* .email_title {
  display: block;
  font-family: "Lato", sans-serif;
  font-size: 39px;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 90px;
} */

.email_input_wrapper {
  width: 100%;
  position: relative;
  border-bottom: 4px solid #bfb431;
  margin-bottom: 37px;
}
.email_input_wrapper input {
  display: block;
  width: 100%;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  color: #0e0e0e;
  line-height: 1.2;
  outline: none;
  border: none;
}
.email_input_wrapper span {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}
.email_input_wrapper span::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  /* -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s; */
  /* background: ; */
}
.email_input_wrapper span::after {
  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Lato", sans-serif;
  font-size: 13px;
  color: #0e0e0e;
  line-height: 1.2;
  /* -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s; */
}
.email_input_wrapper input {
  height: 45px;
}
.email_input_wrapper input + span::after,
.email_input_wrapper textarea + span::after {
  top: 16px;
  left: 0;
}
.email_input_wrapper textarea {
  min-height: 115px;
  /* padding-top: 13px; */
  padding-bottom: 13px;
  outline: none;
  border: none;
  width: 100%;
  resize: vertical;
}
.email_input_wrapper label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: top 0.4s;
}

.email_input_wrapper textarea + label {
  top: 5%;
  transform: translateY(-5%);
}

.email_input_wrapper input::placeholder,
.email_input_wrapper textarea::placeholder {
  color: transparent;
}

.email_input_wrapper input:not(:placeholder-shown) + label,
.email_input_wrapper input:focus + label {
  top: -15px;
  transform: translateY(0);
}
.email_input_wrapper textarea:not(:placeholder-shown) + label,
.email_input_wrapper textarea:focus + label {
  top: -30px;
  transform: translateY(0);
}

.email_input_wrapper input + span::before,
.email_input_wrapper textarea + span::before {
  width: 100%;
}

.submit_containter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 13px;
}
.submit_wrapper {
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 2px;
  width: auto;
  overflow: hidden;
  margin: 0 auto;
}
/* .submit_background {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  top: 0;
  left: -100%;
  transition: all 0.4s;
} */
.submit_containter button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 244px;
  height: 50px;
  font-family: "Lato", sans-serif;
  font-size: 25px;
  background-color: #f2e106;
  color: #0e0e0e;
  line-height: 1.2;
  border: none;
}

/* .submit_wrapper:hover .submit_background {
  left: 0;
} */

/* hover effects */
.submit_containter button:hover {
  box-shadow: inset -2px -2px 5px rgba(0, 0, 0, 0.1);
}

.email_input_wrapper input:hover,
.email_input_wrapper textarea:hover {
  box-shadow: inset -3px -3px 5px rgba(0, 0, 0, 0.05);
}
