/* header for this page??  */

/* hook */
.hook_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 100px 0px 0px 0px;
  column-gap: 15px;
}

.hook_wrapper > .hook_left {
  padding: 15px 15px 15px 15px;
}

.hook_right img {
  width: 100%;
}

/* squares */

.typesOfSamurai_wrapper {
  display: grid;
  justify-content: center;
}
