.headroom--unfixed .logo img {
  width: 700px;
}

.headroom--unfixed {
  font-size: 30px;
  transition: all 0.2s ease-in-out 0s;
}

.skewed_home_black_wrapper {
  background-color: #0e0e0e;
}

.content {
  display: grid;
  justify-items: center;
}

.content img {
  height: 150px;
}

.Homepage_Special_Reservation h1 {
  color: #edf3f4;
  margin: none;
  transition: 0.2s;
}

.Homepage_Special_Reservation h1:hover {
  color: #f2e106;
}

/* hook */
.hook_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0px 80px;
  column-gap: 15px;
  padding-top: 202.923px;
  margin-top: -123.283px;
  clip-path: polygon(0% 242.583px, 100% 0%, 100% 100%, 0% 100%);
  /* background: url("../Images/Home_fancy_background.png"); */
  /* background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; */
}

.hook_information {
  padding: 0px 80px;
}

.hook_wrapper > .hook_left {
  padding: 15px 15px 15px 15px;
}
.hook_left h2 {
  font-size: 3em;
}

.hook_right img {
  width: 100%;
}

.hook_information p {
  font-size: 20px;
}

/* squares */

.typesOfSamurai_wrapper {
  display: grid;
  justify-content: center;
}

/* samurai triangle!! 


clip-path: polygon(0% 0,100% 0%, 50% 100%, 0 0%); */
