.samurai_friends_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  padding: 50px 50px 50px 50px;
}

.samurai_profiles_wrapper {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  padding: 0px 50px 100px 50px;
  row-gap: 30px;
}

.samurai_profiles_wrapper > .Section1 > .samurai_type {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 15px;
  justify-content: space-around;
  padding: 20px 0px 50px 0px;
}

.samurai_profiles_wrapper > .Section1 > .samurai_type > .samurai {
  background-color: #ffffff;
  padding: 30px 20px 10px 20px;
  transition: 0.5s;
}

.samurai_profiles_wrapper > .Section1 > .samurai_type > .samurai:hover {
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2);
}
