.reserve_wrapper {
  display: grid;
  justify-content: center;
}

.reserve_text a {
  color: #0e0e0e;
  font-size: 28px;
  transition: 0.2s;
}

.reserve_text a:hover {
  color: #f2e106;
}

@media screen and (max-width: 600px) {
  .reserve_text a {
    font-size: 20px;
    text-align: center;
  }
}
