.tesitmonials_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
  }
  
  .tesitmonials_wrapper > .testimonials {
    background-color: #ffffff;
    padding: 30px 20px 10px 20px;
    transition: 0.5s;
  }
  
  .tesitmonials_wrapper > .testimonials:hover {
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2);
  }